h1{
    text-align: center;

}
#image img{
    width: 30%;
    height: auto;
    border-radius: 20%;


}

body{

    background-color: yellow;
    text-align: center;
}

table{

    border: black;
    border-style: dotted;
}
td{
    border-style: dashed;
}

.centered-element{
    margin: 0 auto; /* This centers the block element (div) */
    text-align: center;

}